  <!-- Webpage Header -->
  <%- include("partials/header") %>
  
  <!-- Navigation -->
  <%- include("partials/navigation") %>

  <!-- Header Section-->
  <header class="main-header text-center" id="header">
    <div class="header-background">
    </div>
    <div class="container mx-auto">
      <div class="row">
        <div class="col-lg-6 ">
        </div>
        <div class="col-lg-6 main-heading">
          <div class="sunset-border fadeIn">
            <div class="sky-border">
              <h1 class="header-text">Know Me Better</h1>
            </div>
          </div>
          <div class="sub-heading">
            <p class="sub-heading-text">Jerome Cases is a Software Engineer with experience in delivering software development solutions for end-to-end
              projects.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Education -->
  <section class="white-section viewport" id="education">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Education</h1>
        </div>
        <div class="col-lg-6">
          <h4>B.S. in Computer Science</h4>
          <h6>University of Santo Tomas || 2014 - 2018</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- Certifications -->
  <section class="white-section viewport" id="certifications">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Certifications</h1>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h4>Avaloq Certified Customization Professional</h4>
              <h6>Issued Nov 2018</h6>
              <h6>Credential ID CC000124</h6>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <h4>IT Passport (IP) Certification Examination</h4>
              <h6>Philippine National IT Standards Foundation</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Personal Development -->
  <section class="white-section viewport" id="personalDevelopment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Personal Development</h1>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h4>Agile Crash Course: Agile Project Management; Agile Delivery</h4>
              <h6>Udemy</h6>
              <h6>Credential ID UC-16a0d3eb-ea05-44dd-b2df-9f43bb454dfb</h6>
              <h6><a href="http://ude.my/UC-16a0d3eb-ea05-44dd-b2df-9f43bb454d5b" target="_blank">Crendential URL</a></h6>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <h4>SQL Database Bootcamp 2021</h4>
              <h6>Udemy</h6>
              <h6>Credential ID UC-f1a69a53-29f5-4d31-94c4-aee6373f2f15</h6>
              <h6><a href="https://www.udemy.com/certificate/UC-f1a69a53-29f5-4d31-94c4-aee6373f2f15/" target="_blank">Crendential URL</a></h6>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <h4>Web Development Bootcamp 2021</h4>
              <h6>Udemy</h6>
              <h6>Credential ID UC-2b519473-530b-4c30-9c2c-d91fb0ab1311</h6>
              <h6><a href="https://www.udemy.com/certificate/UC-2b519473-530b-4c30-9c2c-d91fb0ab1311/" target="_blank">Crendential URL</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
<%- include("partials/footer") %>
