  <!-- Webpage Header -->
  <%- include("partials/header") %>

  <!-- Navigation -->
  <%- include("partials/navigation") %>

  <!-- Header Section-->
  <header class="main-header text-center" id="header">
    <div class="header-background">
    </div>
    <div class="container mx-auto">
      <div class="row">
        <div class="col-lg-6 col-md-0 col-sm-0 px-5 portfolio-hero">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">github.com/casesjerome</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a href="https://github.com/casesjerome" target="_blank"><button class="btn btn-primary"
                      type="button">Visit</button></a>
                </li>
                <li class="d-flex align-items-center me-3">
                  <span class="fab fa-github"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 main-heading">
          <div class="sunset-border fadeIn">
            <div class="sky-border">
              <h1 class="header-text">Works & Projects</h1>
            </div>
          </div>
          <div class="sub-heading">
            <p class="sub-heading-text">Jerome Cases is a Software Engineer with experience in delivering software
              development solutions for end-to-end
              projects.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Github hero -->
  <section class="white-section viewport" id="github-hero">
    <div class="container my-5 bg-dark shadow-lg">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-10 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-5 fw-bold lh-1 text-white text-shadow-1">github.com/casesjerome</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="https://github.com/casesjerome" target="_blank"><button type="button"
                class="btn btn-primary btn-lg px-4 me-md-2 fw-bold mt-4">Visit</button></a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-md-end pb-2 align-self-end">
          <span class="text-white fab fa-github"></span>
        </div>
      </div>
    </div>
  </section>

  <!-- Personal Projects -->
  <section class="white-section viewport bg-light wPopover" id="projects">
    <div class="container-fluid">
      <h2>Personal Projects</h2>
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="d-flex align-items-stretch">
              <div class="card shadow-lg">
                <div class="zoom">
                  <a href="https://TheTechCrumbs.com" target="_blank"><img class="bd-placeholder-img card-img-top"
                      src="assets/images/thetechcrumbs.jpg" alt="thetechcrumbs" title="TheTechCrumbs.com"></a>
                </div>
                <div class="card-body">
                  <p class="card-text">TheTechCrumbs.com</p>
                  <p class="card-text">A blog and tech website powered using Wordpress and Elementor.</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://TheTechCrumbs.com" target="_blank"><button type="button"
                          class="btn btn-sm btn-outline-secondary">Visit</button></a>
                      <button type="button" class="btn btn-sm btn-outline-info mx-1" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
                        data-bs-content="Wordpress and Elementor"><span class="fas fa-info-circle"></span></button>
                    </div>
                    <!-- <small class="text-muted"></small> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-stretch">
              <div class="card shadow-lg">
                <div class="zoom">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/logo-img.png" alt="portfolio-website"
                    title="Portfolio Website" style="background-color: #000;">
                </div>
                <div class="card-body">
                  <p class="card-text">Portfolio Website </p>
                  <p class="card-text">This website is powered using NodeJS, ExpressJS, and hosted through Heroku.</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/casesjerome/my-portfolio" target="_blank"><button type="button"
                          class="btn btn-sm btn-outline-secondary">Github</button></a>
                      <button type="button" class="btn btn-sm btn-outline-info mx-1" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
                        data-bs-content="NodeJS/ExpressJS, EJS, Nodemailer"><span
                          class="fas fa-info-circle"></span></button>
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-stretch">
              <div class="card shadow-lg">
                <div class="zoom">
                  <a href="https://github.com/casesjerome" target="_blank"><img class="bd-placeholder-img card-img-top"
                      src="assets/images/Sipag.png" alt="Sipag" title="Sipag"></a>
                </div>
                <div class="card-body">
                  <p class="card-text">Sipag - a productivity app</p>
                  <p class="card-text">A Notes app powered using React, NodeJS, ExpressJS, and will be hosted through
                    Heroku.</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/casesjerome" target="_blank"><button type="button"
                          class="btn btn-sm btn-outline-secondary">Github</button></a>
                      <a href="https://github.com/casesjerome" target="_blank"><button type="button"
                          class="btn btn-sm btn-outline-secondary mx-1">Visit</button></a>
                      <button type="button" class="btn btn-sm btn-outline-info" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
                        data-bs-content="React, NodeJS/ExpressJS, MongoDB/Mongoose"><span
                          class="fas fa-info-circle"></span></button>
                    </div>
                    <!-- <small class="text-muted"></small> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Others -->
  <section class="white-section viewport bg-light wPopover" id="Others">
    <div class="container-fluid">
      <h2>Others</h2>
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="d-flex align-items-stretch">
              <div class="card shadow-lg">
                <div class="card-body">
                  <p class="card-title fw-bold">Receive Email from Contact Form</p>
                  <p class="card-text">Receive email from a contact form using Node, Nodemailer, and Mailgun</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/casesjerome/receive-email-using-nodemailer-mailgun"
                        target="_blank"><button type="button"
                          class="btn btn-sm btn-outline-secondary">Github</button></a>
                      <button type="button" class="btn btn-sm btn-outline-info mx-1" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
                        data-bs-content="Node/Express, Nodemailer, Mailgun"><span class="fas fa-info-circle"></span></button>
                    </div>
                    <!-- <small class="text-muted"></small> -->
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include("partials/footer") %>