  <!-- Webpage Header -->
  <%- include("partials/header") %>

  <!-- Navigation -->
  <%- include("partials/navigation") %>

  <!-- Header Section -->
  <header class="main-header text-center" id="header">
    <div class="header-background">
    </div>
    <div class="container mx-auto">
      <div class="row">
        <div class="col-lg-6 main-heading">
          <div class="sunset-border head-frame fadeIn">
            <div class="sky-border">
              <h1 class="header-text">Dig Deeper</h1>
            </div>
          </div>
          <div class="center-justified">
            <span class="d-block"><a class="link-primary a" href="#technologies"><span>Technologies</span></a></span>
            <span class="d-block"><a class="link-primary a" href="#skillsNConcepts"><span>Skills & Concepts </span></a></span>
            <span class="d-block"><a class="link-primary a" href="#workxp"><span>Work Experience</span></a></span>
            <span class="d-block"><a class="link-primary" href="#">Resume <span class="fas fa-cloud-download-alt link"></span></a></span>
          </div>
        </div>
        <div class="col-lg-6 main-image">
          <img class="img-profile" src="assets/images/profile.jpg" alt="self-photo">
        </div>
      </div>
    </div>
  </header>

  <!-- Technologies -->
  <section class="white-section viewport" id="technologies">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Technologies</h1>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul class="">
                <li class="skill">SQL <span class="hide badge">Advanced (Experienced)</span></li>
                <ul>
                  <li class="skill">PostgreSQL <span class="hide badge">Advanced</span></li>
                  <li class="skill">Oracle PL/SQL <span class="hide badge">Advanced</span></li>
                </ul>
                <li class="skill">NoSQL <span class="hide badge">Novice</span></li>
                <ul>
                  <li class="skill">MongoDB <span class="hide badge">Novice</span></li>
                </ul>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto">
              <ul>
                <li class="skill">JavaScript <span class="hide badge">Intermediate</span></li>
                <li class="skill">Jquery <span class="hide badge">Intermediate</span></li>
                <li class="skill">Java <span class="hide badge">Intermediate</span></li>
                <li class="skill">Python <span class="hide badge">Basic</span></li>
                <li class="skill">Xpath <span class="hide badge">Intermediate</span></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul class="">
                <li class="skill">Bootstrap 5 <span class="hide badge">Intermediate</span></li>
                <li class="skill">RESTful API <span class="hide badge">Basic</span></li>
                <li class="skill">HTML 5 <span class="hide badge">Advanced</span></li>
                <li class="skill">CSS 3 <span class="hide badge">Intermediate</span></li>
                <ul>
                  <li class="skill">Sass <span class="hide badge">Basic</span></li>
                </ul>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto">
              <ul>
                <li class="skill">Node.JS <span class="hide badge">Novice</span></li>
                <li class="skill">ExpressJS <span class="hide badge">Novice</span></li>
                <li class="skill">Mongoose <span class="hide badge">Novice</span></li>
                <li class="skill">EJS (Embedded JavaScript Templating)<span class="hide badge">Intermediate</span></li>
                <li class="skill">ReactJS <span class="hide badge">Novice</span></li>
              </ul>
            </div>
          </div>
          <hr>
          <!-- TOOLS -->
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul>
                <li>Atom</li>
                <li>Eclipse </li>
                <li>Jira </li>
                <li>Git</li>
                <li class="skill">Wordpress & Elementor <span class="hide badge">Intermediate</span></li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto">
              <ul>
                <li>Assentis DocFamily </li>
                <li>Adobe Illustration</li>
                <li>Avaloq Core Platform </li>
                <li>Oracle SQL Developer </li>
                <li>Valentina Studio 11</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills and Concepts -->
  <section class="white-section viewport" id="skillsNConcepts">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Skills & Concepts</h1>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul>
                <li>Object Oriented Programming</li>
                <li>Basic Banking Concepts</li>
                <li>Client Facing and Client Interaction</li>
                <li>Waterfall and Agile Methodologies</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto">
              <ul>
                <li>Assertiveness</li>
                <li>English and Filipino Communication</li>
                <li>Leadership</li>
                <li>Dedicated Learner</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work Experience -->
  <section class="white-section viewport" id="workxp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2>Work Experience</h1>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h4>Associate Software Engineer</h4>
              <h6><em>Avaloq / January 2020 – March 2021</em></h6>
              <p class="mt-4"><strong>Key Responsibilities and Achievements:</strong></p>
              <p>Stream Lead/ Lead Developer for CUB Singapore Project Output Stream</p>
              <ul>
                <li>Build, Implementation, and Test Phase (UAT and SIT)</li>
                <li>Lead Output stream during UAT until Go-live phase</li>
              </ul>
            </div>
            <hr>
            <div class="col-lg-12">
              <h4>Developer Associate</h4>
              <h6><em>Avaloq / August 2018 – January 2020</em></h6>
              <p class="mt-4"><strong>Key Responsibilities and Achievements:</strong></p>
              <p>Developer (10 mos) for Maybank Singapore Premier Project</p>
              <ul>
                <li>Build, Implementation, and Test Phase (UAT and SIT)</li>
                <li>Onsite Assignment (Singapore) for UAT Cycle 2 and Post Go-live (2 mos)</li>
                <li>Extra Achievement Reward (EAR) Awardee</li>
              </ul>
              <p>Release Manager (3 mos)</p>
              <ul>
                <li>Monitoring and escalating release management process quality for specific/assigned
                  Avaloq products</li>
                <li>Development and Implementation of Solutions for IP related issues</li>
                <li>Development and Implementation of Solutions for Baseline Update related issues</li>
                <li>Nightly Build and Reference Database related processes</li>
              </ul>
              <p>ABR/S Synthetic Demo Data (3 mos)</p>
              <ul>
                <li>Creation, implementation, and testing of Demo Data</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="bg-light viewport" id="contact">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Contact Me</h1>
          <p class="col-lg-12 fs-4 contactDetails">
            <span class="d-block"><span class="fas fa-envelope"></span> casesjeromem@gmail.com </span>
            <span class="d-block"><span class="fas fa-phone-alt"></span> (+63) 917-791-4418 </span>
            <span class="d-block"><span class="fab fa-linkedin"></span> <a class="link-primary" href="https://www.linkedin.com/in/jerome-cases/" target="_blank">in/jerome-cases</a></span>
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form action="/" method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
            <div class=" mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="fullName" id="name" placeholder="Full name" maxlength="50">
            </div>
            <div class=" mb-3">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" maxlength="75">
            </div>
            <div class=" mb-3">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Hi!" maxlength="50">
            </div>
            <div class=" mb-3">
              <label for="message">Message</label>
              <textarea class="form-control" class="form-control" name="message" id="message" rows="3" maxlength="500"></textarea>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
            <hr class="my-4">
            <small class="text-muted"></small>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <%- include("partials/modal") %>

  <!-- Footer -->
  <%- include("partials/footer") %>
